In [22]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta
import warnings
%matplotlib inline

In [23]:
# Ignorar warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [24]:
# Definir data inicial
data_inicial = '2010-01-01'

# Definir data final como a data de ontem
data_final = (datetime.now() - timedelta(days=1)).strftime('%Y-%m-%d')

print(f"Data inicial: {data_inicial}")
print(f"Data final: {data_final}")

Data inicial: 2010-01-01
Data final: 2024-05-14

In [25]:
# Baixando os dados de ibovespa e cambio a partir do ano de 2010
ibovespa = yf.download('^BVSP', start=data_inicial, end=data_final)['Adj Close']

cambio = yf.download('USDBRL=X', start=data_inicial, end=data_final)['Adj Close']

[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed

In [26]:
ibovespa.sample(5)

Date
2023-11-10    120636.0
2023-07-31    121943.0
2015-09-01     45477.0
2018-08-28     77473.0
2012-09-10     58404.0
Name: Adj Close, dtype: float64

In [27]:
cambio.sample(5)

Date
2020-12-28    5.2153
2021-05-26    5.3307
2019-07-05    3.8008
2010-10-28    1.7190
2015-08-25    3.5481
Name: Adj Close, dtype: float64

In [28]:
# Transformar de Series para DataFrame
ibovespa_df = pd.DataFrame(ibovespa)
ibovespa_df.columns = ['IBOV']
cambio_df = pd.DataFrame(cambio)
cambio_df.columns = ['Dolar']

In [29]:
ibovespa_df.sample(5)

                IBOV
Date
2022-07-12   98271.0
2016-05-25   49483.0
2012-11-16   55402.0
2020-08-21  101521.0
2018-05-23   80867.0

In [30]:
cambio_df.sample(5)

             Dolar
Date
2011-12-23  1.8510
2014-05-13  2.2099
2011-01-21  1.6352
2017-05-26  3.2735
2015-01-07  2.6966

In [31]:
# Verificar dados faltantes
ibovespa_df.isnull().sum()

IBOV    0
dtype: int64

In [32]:
cambio_df.isnull().sum()

Dolar    0
dtype: int64

In [33]:
# Juntar os dois DataFrames com merge
df = pd.merge(ibovespa_df, cambio_df, how='inner', on='Date')
df.head(5)

               IBOV   Dolar
Date
2010-01-04  70045.0  1.7190
2010-01-05  70240.0  1.7370
2010-01-06  70729.0  1.7315
2010-01-07  70451.0  1.7389
2010-01-08  70263.0  1.7320

In [34]:
# Criar nova coluna com o índice IBOVESPA em dólar
df['IBOV_USD'] = df['IBOV'] / df['Dolar']
df.head()

               IBOV   Dolar      IBOV_USD
Date
2010-01-04  70045.0  1.7190  40747.528062
2010-01-05  70240.0  1.7370  40437.536248
2010-01-06  70729.0  1.7315  40848.396646
2010-01-07  70451.0  1.7389  40514.694450
2010-01-08  70263.0  1.7320  40567.552119

In [35]:
df.tail()

                IBOV    Dolar      IBOV_USD
Date
2024-05-07  129210.0  5.07490  25460.599455
2024-05-08  129481.0  5.07330  25522.047374
2024-05-09  128188.0  5.08790  25194.676767
2024-05-10  127600.0  5.14080  24821.039531
2024-05-13  128155.0  5.12326  25014.346231

In [36]:
# Salvando o DataFrame no disco
df.to_csv('Dados/IBOVESPA_USD.csv')