In [34]:
import yfinance as yf
import pandas as pd
import warnings
%matplotlib inline

In [35]:
# Ignorar warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [36]:
# Definir data inicial e final
data_inicial = '2010-01-01'
data_final = '2024-05-13'

In [37]:
# Baixando os dados de ibovespa e cambio a partir do ano de 2010
ibovespa = yf.download('^BVSP', start=data_inicial, end=data_final)['Adj Close']

cambio = yf.download('USDBRL=X', start=data_inicial, end=data_final)['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [38]:
ibovespa.sample(5)

Date
2013-09-02     51835.0
2022-02-17    113528.0
2017-07-05     63154.0
2023-07-10    117942.0
2015-11-25     46867.0
Name: Adj Close, dtype: float64

In [39]:
cambio.sample(5)

Date
2013-04-10    1.9806
2019-02-25    3.7463
2020-09-01    5.4909
2013-02-26    1.9805
2024-03-12    4.9774
Name: Adj Close, dtype: float64

In [40]:
# Transformar de Series para DataFrame
ibovespa_df = pd.DataFrame(ibovespa)
ibovespa_df.columns = ['IBOV']
cambio_df = pd.DataFrame(cambio)
cambio_df.columns = ['Dolar']

In [41]:
ibovespa_df.sample(5)

                IBOV
Date
2012-08-13   59123.0
2011-07-20   59120.0
2018-04-30   86115.0
2014-10-10   55312.0
2023-02-07  107920.0

In [42]:
cambio_df.sample(5)

             Dolar
Date
2016-09-29  3.2178
2012-05-23  2.0873
2014-02-05  2.4064
2010-09-30  1.7035
2020-03-24  5.1417

In [43]:
# Verificar dados faltantes
ibovespa_df.isnull().sum()

IBOV    0
dtype: int64

In [44]:
cambio_df.isnull().sum()

Dolar    0
dtype: int64

In [45]:
# Juntar os dois DataFrames com merge
df = pd.merge(ibovespa_df, cambio_df, how='inner', on='Date')
df.head(5)

               IBOV   Dolar
Date
2010-01-04  70045.0  1.7190
2010-01-05  70240.0  1.7370
2010-01-06  70729.0  1.7315
2010-01-07  70451.0  1.7389
2010-01-08  70263.0  1.7320

In [46]:
# Criar nova coluna com o índice IBOVESPA em dólar
df['IBOV_USD'] = df['IBOV'] / df['Dolar']
df.head()

               IBOV   Dolar      IBOV_USD
Date
2010-01-04  70045.0  1.7190  40747.528062
2010-01-05  70240.0  1.7370  40437.536248
2010-01-06  70729.0  1.7315  40848.396646
2010-01-07  70451.0  1.7389  40514.694450
2010-01-08  70263.0  1.7320  40567.552119

In [47]:
df.tail()

                IBOV   Dolar      IBOV_USD
Date
2024-05-06  128466.0  5.0709  25333.964568
2024-05-07  129210.0  5.0749  25460.599455
2024-05-08  129481.0  5.0733  25522.047374
2024-05-09  128188.0  5.0879  25194.676767
2024-05-10  127600.0  5.1408  24821.039531

In [48]:
# Salvando o DataFrame no disco
df.to_csv('Dados/IBOVESPA_USD.csv')